<div class="h-screen w-48 m-auto py-4">
  <div class="flex flex-col justify-between h-full">
    <div class="flex flex-col">
      <span class="text-center"> Dice</span>

      <button (click)="rollDice()" class="border border-neutral-300 h-48">
        {{ dice }}
      </button>
    </div>
    <div class="flex flex-col">
      <span class="text-center"> Damage</span>
      <button class="border border-neutral-300 h-48" (click)="clickDamage()">
        {{ damage }}
      </button>
    </div>
  </div>
</div>
